index.html
<!DOCTYPE html><html><head><link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><link rel="stylesheet" href="css/simplePagination.css"><link rel="stylesheet" href="css/style.css"><meta name="viewport" content="width=device-width, initial-scale=1"></head><body><div id="s"></div><div id="container"><main class="text-center"><section id="gened"><div><span class="sr-only">Home</span><a class="pointer nav-link" href="home">       <h1>Course Search</h1></a></div></section><section id="body"><div id="menu"><a class="nav-link" href="search?all" id="allCourses">Browse all courses</a><a href="https://gened.temple.edu/booklet/" target="_blank">Course Booklet and Policies <strong>(PDF)</strong></a><a href="http://tucourses.temple.edu" target="_blank">Temple Course Catalog</a></div><div id="search"><div id="searchbar"><form><input id="searchBar" type="text" placeholder="Enter a GenEd Area, keyword, course #, or subject"><input class="search nav-link" id="searchBarSubmit" type="button" value="Search" href="search?query="></form></div><a class="pointer" id="toggle-filter" data-toggle="collapse" data-target="#advanced-search">Filter Search &nbsp;<span id="carrot"> &#9660;</span></a><div class="collapse" id="advanced-search"><div class="row"><div class="col-md-6" id="areas"><h4>GenEd Areas<div class="row"><div class="col-md-6 col-sm-6 col-xs-6"><label for="GW"> <h4>Analytical Reading & Writing (GW)</h4></label><br><input type="checkbox" id="GW"></div><div class="col-md-6 col-sm-6 col-xs-6"><label for="GA"> <h4>Arts (GA)</h4></label><br><input type="checkbox" id="GA"></div></div><div class="row text-center"><div class="col-md-6 col-sm-6 col-xs-6"><label for="GG"> <h4>Global/World Society (GG)</h4></label><br><input type="checkbox" id="GG"></div><div class="col-md-6 col-sm-6 col-xs-6"><label for="GY"> <h4>Mosaic I (GY)</h4></label><br><input type="checkbox" id="GY"></div></div><div class="row"><div class="col-md-6 col-sm-6 col-xs-6"><label for="GZ"> <h4>Mosaic II (GZ)</h4></label><br><input type="checkbox" id="GZ"></div><div class="col-md-6 col-sm-6 col-xs-6"><label for="GQ"> <h4>Quantitative Literacy (GQ)</h4></label><br><input type="checkbox" id="GQ"></div></div><div class="row"><div class="col-md-6 col-sm-6 col-xs-6"><label for="GD"> <h4>Race & Diversity (GD)</h4></label><br><input type="checkbox" id="GD"></div><div class="col-md-6 col-sm-6 col-xs-6"><label for="GS"> <h4>Science & Technology (GS)</h4></label><br><input type="checkbox" id="GS"></div></div><div class="row"><div class="col-md-6 col-sm-6 col-xs-6"><label for="GU"> <h4>U.S. Society (GU)</h4></label><br><input type="checkbox" id="GU"></div><div class="col-md-6 col-sm-6 col-xs-6"><label for="GB"> <h4>Human Behavior (GB)</h4></label><br><input type="checkbox" id="GB"></div></div></h4></div><div class="col-md-6" id="other"><h4>Course Attributes</h4><div class="row"><label class="sr-only" for="select-dept">Select a department</label><select class="form-control" id="select-dept" style="margin: 0 auto;"><option value="" selected>Select a Department</option><option value="AOD">Adult & Organizational Development</option><option value="ADV">Advertising </option><option value="AAAS">Africology & African American Studies</option><option value="AMST">American Studies</option><option value="ANTH">Anthropology</option><option value="ARBC">Arabic  </option><option value="ARCH">Architecture</option><option value="ARTH">Art History</option><option value="ASST">Asian Studies</option><option value="BIOE">Bioengineering</option><option value="BIOL">Biology</option><option value="BTMM">Broadcasting/Telecom/MassMedia</option><option value="CHEM">Chemistry</option><option value="CHI">Chinese </option><option value="CRP">Community & Regional Planning</option><option value="CIS">Computer Information Systems (CIS) </option><option value="CJ">Criminal Justice</option><option value="CRIT">Critical Languages Center</option><option value="DANC">Dance</option><option value="DSST">Disability Studies</option><option value="EES">Earth & Environmental Science </option><option value="ECON">Economics</option><option value="EDUC">Education </option><option value="EDAD">Educational Administration</option><option value="ECE">Electrical Engineering</option><option value="ENG">English</option><option value="ENVT">Environmental Engineering Tech</option><option value="ENVST">Environmental Studies (CLA)</option><option value="FMA">Film and Media Arts</option><option value="FIN">Finance</option><option value="FREN">French </option><option value="GSWS">Gender/Women Studies</option><option value="GUS">Geography and Urban Studies</option><option value="GAD">Graphic Arts and Design</option><option value="GER">German</option><option value="GRC">Greek & Roman Classics</option><option value="HEBR">Hebrew</option><option value="HIST">History</option><option value="HRM">Human Resource Management</option><option value="IH">Intellectual Heritage </option><option value="ITAL">Italian</option><option value="JPNS">Japanese</option><option value="JST">Jewish Studies</option><option value="KRN">Korean</option><option value="LARC">Landscape Architecture</option><option value="LAS">Latin American Studies</option><option value="LAWU">Law - Undergraduate Courses</option><option value="LGLS">Legal Studies </option><option value="MIS">Management Information Systems (MIS) </option><option value="MATH">Mathematics</option><option value="MEE">Mechanical Engineering</option><option value="MSP">Media Studies and Production</option><option value="MUST">Music Studies</option><option value="NSCI">Neuroscience - CLA</option><option value="PHIL">Philosophy</option><option value="PHYS">Physics</option><option value="POLS">Political Science</option><option value="PSY">Psychology</option><option value="REL">Religion</option><option value="RMI">Risk Management and Insurance</option><option value="RUS">Russian</option><option value="SPSY">School Psychology</option><option value="SSWU">Social Work - Undergraduate</option><option value="SOC">Sociology</option><option value="SPAN">Spanish</option><option value="STHM">Sports, Tourism & Hospitality Management </option><option value="STAT">Statistics</option><option value="STRC">Strategic Communications</option><option value="SGM">Strategic Management</option><option value="THTR">Theater</option><option value="THRC">Therapeutic Recreation</option><option value="TYLE">Tyler School of Art</option><option value="UNVS">University Seminar</option><option value="URBE">Urban Education</option></select></div><div class="row"><div class="group" style="float: left; margin-left: 7.5%;"><label for="honors" style="margin-top: 5px;"> <h4>Show honors courses </h4></label>  <input id="honors" type="checkbox"><br><div class="group" style="float: left; margin-left: 7.5%;"></div><label for="study_abroad" style="margin-top: 5px;"> <h4>Show study abroad courses </h4></label>  <input id="study_abroad" type="checkbox"><br><label for="online" style="margin-top: 5px;"> <h4>Show online courses</h4></label>  <input id="online" type="checkbox"><br><h4>Please note: Not all courses are offered regularly.</h4></div></div><div id="filter-buttons" style="bottom: 0;"><button class="btn search nav-link" href="search?query=" style="bottom: 0; margin: 15px; background-color: #ee2738; color: white;">Search</button><button class="btn" data-toggle="collapse" data-target="#advanced-search" style="bottom: 0; margin: 15px; background-color: #ee2738; color: white;">Close</button><button class="btn" id="clear" style="bottom: 0; margin: 15px; background-color: #ee2738; color: white;">Clear</button></div></div></div></div></div><div class="row app" id="categories"><div id="home"><div class="col-sm-12 col-md-3" id="areaList"><h2 class="text-center">GenEd Requirements</h2></div><div class="col-sm-12 col-md-9" id="theCategories"><h2>Topics of interest</h2></div><div style="clear: both;"></div></div><div id="results"><h3 class="left"><a class="pointer nav-link" id="back" href="home">Back </a><span>| </span><span id="sorted"></span></h3><div id="courses"></div><div class="text-center" id="pagination"><ul class="pagination" style="display: inline-block;"></ul></div></div><div id="loading"><p>Loading</p></div></div></section></main></div><div class="abs-button"> <i class="	glyphicon glyphicon-heart-empty"></i></div><div class="hidden" id="abs-button-toggle"> <div id="abs-button-toggle-message"></div><p>You can save courses to review later by clicking the <i class="glyphicon glyphicon-heart-empty"></i><span>&nbsp;next to their names. They'll appear here.</span></p><div id="abs-button-toggle-info"><p>To see general availability for this course please visit <a href="http://tucourses.temple.edu" target="_blank">&nbsp;TUCourses</a><span>.</span></p><p>To register for courses please visit <a href="https://tuportal.temple.edu" target="_blank">TUPortal</a><span>&nbsp;and see "Registration" under the "Student Tools" tab</span></p></div><form class="hidden export" id="export" method="POST" action="https://gened.temple.edu/courseapi/pdf.php" target="_blank"><button class="btn btn-primary" type="submit">Save PDF</button></form><button class="hidden export btn btn-primary" id="export-email">Email Favorites</button><form class="hidden" id="export-email-form"><label for="email-address">Email address</label><input type="email" name="email-address"><button class="btn btn-primary" type="submit">Send</button></form></div><div class="modal fade" id="modal" tabindex="-1" role="dialog"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title"></h4></div><div class="modal-body"><h4>Course Description</h4><p id="modal-desc"></p><p>To see general availability for this course please visit <a href="http://tucourses.temple.edu" target="_blank">TUCourses.</a></p><p>To schedule for courses please visit <a href="https://tuportal.temple.edu" target="_blank">TUPortal&nbsp;</a><span>and see "Registration" under the "Student Tools" tab.</span></p></div><div class="modal-footer"><input class="close" type="button" data-dismiss="modal" value="Close"></div></div></div></div></body><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script><script src="js/jquery.simplePagination.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script><script src="js/bundle.js"></script></html>

pug/index.pug
doctype html
html
  head
    link(rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/simplePagination.css")
    link(rel="stylesheet" href="css/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    #s
    #container
      main.text-center
        section#gened
          div
            span.sr-only Home
            a.pointer.nav-link(href="home")        
              h1 Course Search
        section#body
          #menu
            a.nav-link(href="search?all" id='allCourses') Browse all courses
            a(href='https://gened.temple.edu/booklet/', target="_blank") Course Booklet and Policies 
              strong (PDF)
            a(href="http://tucourses.temple.edu") Temple Course Catalog
          #search
            #searchbar
              form
                input(id='searchBar', type='text', placeholder="Enter a GenEd Area, keyword, course #, or subject")
                input.search.nav-link(id="searchBarSubmit" type='button', value = 'Search' href="search?query=")
              
            a#toggle-filter.pointer(data-toggle="collapse", data-target="#advanced-search") Filter Search &nbsp;
              span#carrot  &#9660;
            
            .collapse#advanced-search()
              .row
                .col-md-6#areas
                  h4 GenEd Areas
                    .row
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GW") 
                          h4 Analytical Reading & Writing (GW)
                        br
                        input(type='checkbox' id="GW")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GA") 
                          h4 Arts (GA)
                        br
                        input(type='checkbox' id="GA")
                    .row.text-center
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GG") 
                          h4 Global/World Society (GG)
                        br
                        input(type='checkbox' id="GG")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GY") 
                          h4 Mosaic I (GY)
                        br
                        input(type='checkbox' id="GY")
                    .row
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GZ") 
                          h4 Mosaic II (GZ)
                        br
                        input(type='checkbox' id="GZ")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GQ") 
                          h4 Quantitative Literacy (GQ)
                        br
                        input(type='checkbox' id="GQ")
                    .row
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GD") 
                          h4 Race & Diversity (GD)
                        br
                        input(type='checkbox' id="GD")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GS") 
                          h4 Science & Technology (GS)
                        br
                        input(type='checkbox' id="GS")
                    .row
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GU") 
                            h4 U.S. Society (GU)
                        br
                        input(type='checkbox' id="GU")
                      .col-md-6.col-sm-6.col-xs-6
                        label(for="GB") 
                          h4 Human Behavior (GB)
                        br
                        input(type='checkbox' id="GB")
                .col-md-6#other
                  h4 Course Attributes
                  .row
                    label.sr-only(for='select-dept') Select a department
                    select#select-dept.form-control(style="margin: 0 auto;")
                      include ./departments.pug
                  .row
                    .group(style="float: left; margin-left: 7.5%;")
                      label(for='honors' style='margin-top: 5px;') 
                        h4 Show honors courses 
                      ="  "
                      input#honors(type='checkbox')
                      br
                      .group(style="float: left; margin-left: 7.5%;")
                      label(for='study_abroad' style='margin-top: 5px;') 
                        h4 Show study abroad courses 
                      ="  "
                      input#study_abroad(type='checkbox')
                      br
                      label(for='online' style='margin-top: 5px;') 
                        h4 Show online courses
                      ="  "
                      input#online(type='checkbox')
                      br
                      h4 Please note: Not all courses are offered regularly.
                  div#filter-buttons(style="bottom: 0;")
                    button.btn.search.nav-link(href="search?query=" style="bottom: 0; margin: 15px; background-color: #ee2738; color: white;") Search

                    button.btn(data-toggle="collapse", data-target="#advanced-search", style="bottom: 0; margin: 15px; background-color: #ee2738; color: white;") Close

                    button.btn#clear(style="bottom: 0; margin: 15px; background-color: #ee2738; color: white;") Clear
                      
          #categories.row.app
            #home
              #areaList.col-sm-12.col-md-3
                h2.text-center GenEd Requirements
                
              #theCategories.col-sm-12.col-md-9
                h2 Topics of interest
              div(style="clear: both;")
            #results
              h3.left
                a.pointer.nav-link(id='back', href="home") Back 
                span | 
                span#sorted
              #courses
              #pagination.text-center
                ul.pagination(style="display: inline-block;")
            #loading
              p Loading
    .abs-button 
      i(class="	glyphicon glyphicon-heart-empty")
    #abs-button-toggle.hidden 
      #abs-button-toggle-message
      p You can save courses to review later by clicking the 
        i(class="glyphicon glyphicon-heart-empty")
        span &nbsp;next to their names. They'll appear here.
      #abs-button-toggle-info
        p To see general availability for this course please visit 
          a(href="http://tucourses.temple.edu") &nbsp;TUCourses
          span .
        p To register for courses please visit 
          a(href="https://tuportal.temple.edu") TUPortal
          span &nbsp;and see "Registration" under the "Student Tools" tab
      form#export.hidden.export(method="POST" action="https://gened.temple.edu/courseapi/pdf.php", target="_blank")
        button(class="btn btn-primary", type="submit") Save PDF
      button.hidden.export.btn.btn-primary#export-email Email Favorites
      form.hidden#export-email-form
        label(for="email-address") Email address
        input(type="email" name="email-address")
        button.btn.btn-primary(type="submit") Send
    .modal.fade#modal(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title
          .modal-body
            h4 Course Description
            p#modal-desc
            p To see general availability for this course please visit 
              a(href="http://tucourses.temple.edu") TUCourses.
            p To schedule for courses please visit 
              a(href="https://tuportal.temple.edu") TUPortal&nbsp;
              span and see "Registration" under the "Student Tools" tab.
          .modal-footer
            input.close(type='button', data-dismiss='modal', value='Close')

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="js/jquery.simplePagination.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")
  script(src="js/bundle.js")
